#admin-menu a.icon-email-logs {
    background-image: url(../images/email-checked.png);
}
.icon-email-log {
    background-image: url(../images/email.png);
}
.icon-email-log.opened {
    background-image: url(../images/email-checked.png);
}
.icon-only.icon-email-log {
    background-position: 0 -1px;
}
div.message a.icon-only.icon-email-log {
    vertical-align: middle;
}
table.email-logs {
    margin-top: 1.2em;
}
table.email-logs tr.collapsible .icon-only.email-details {
    background-image: url(../../../images/arrow_expanded.png);
}
table.email-logs tr.collapsible.collapsed .icon-only.email-details {
    background-image: url(../../../images/arrow_collapsed.png);
}
table.email-logs td {
    vertical-align: top;
    padding-right: 2px;
}
table.email-logs td.subject .icon-attachment {
    padding: 0 0 0 16px;
    margin-top: 2px;
    font-size: 90%;
    float: right;
    color: #888;
}
table.email-logs td.recipients p {
    max-width: 300px;
    margin: 0 auto;
}
table.email-logs td.recipients a.user,
table.email-logs td.details span.address {
    white-space: nowrap;
}
table.email-logs td.date {
    white-space: nowrap;
    padding-right: 4px;
    padding-left: 4px;
}
table.email-logs td.details {
    text-align: left;
    font-size: 90%;
    color: #777;
}
.email-log {
    background-color: #f6f7f8;
    border: solid 1px #d7d7d7;
    margin-bottom: 10px;
    font-size: 90%;
    padding: 2px;
    color: #777;
}
.icon.icon-checkmark {
    background-image: url(../images/checkmark.png);
    padding-left: 10px;
}
.email-log .email-log-link {
    background-position: right -6px top -6px;
    background-image: url(../images/log-link.png);
    background-repeat: no-repeat;
    padding-right: 12px;
    color: #777;
}
.journal h4 .contextual {
    margin-right: 10px;
}
